<%- include base/header.ejs %>
    <div class="main">
        <div class="train">
            <div class="queryTrain">
                <form  method="get" >
                    <div class="train-f-group">
                        <label for="from_station">出发地</label>
                        <input type="text" name="" value="" id="from_station">
                    </div>
                    <span class="change" id="change"></span>
                    <div class="train-f-group">
                        <label for="to_station">目的地</label>
                        <input type="text" name="" value="" id="to_station">
                    </div>
                    <div class="train-f-group">
                        <label for="date">出发日</label>
                        <input type="text" name="" value="" class="date_picker" readonly id="date">
                    </div>
                    <script type="text/javascript">
                        $(function(){
                            $('.date_picker').date_input();
                        })
                    </script> 
                    <div class="quick-s">
                        <ul>
                            <li>
                                <input type="radio" name="purpose" value="ADULT" checked="checked" id="adult">
                                <label for="adult">普通</label>
                            </li>
                            <li>
                                <input type="radio" name="purpose" value="0X00" id="student">
                                <label for="student">学生</label>
                            </li>
                        </ul>
                        <button id="queryDbtn" type="button">查询</button>
                    </div>
                </form>
            </div>
            <div class="train-show">
                <div class="train-header" id="train-header">
                    <ul class="train-list-h clearfix">
                        <li class="station_code"><span>车次</span></li>
                        <li class="station_from_to"><span>出发/到达</span></li>
                        <li class="station_time"><span>出/到时间</span></li>
                        <li class="station_last"><span>历时</span></li>
                        <li class="station_seat"><span>商务座</span></li>
                        <li class="station_seat"><span>特等座</span></li>
                        <li class="station_seat"><span>一等座</span></li>
                        <li class="station_seat"><span>二等座</span></li>
                        <li class="station_seat"><span>高级<br>软卧</span></li>
                        <li class="station_seat"><span>软卧</span></li>
                        <li class="station_seat"><span>硬卧</span></li>
                        <li class="station_seat"><span>软座</span></li>
                        <li class="station_seat"><span>硬座</span></li>
                        <li class="station_seat"><span>无座</span></li>
                        <li class="station_seat"><span>其他</span></li>
                        <li class="station_remark last"><span>备注</span></li>
                    </ul>
                </div>
                <table class="train-table">
                    <tbody id="train-body">
                    </tbody>
                </table>
                <div class="no-ticket" id="no-ticket"></div>
            </div>
        </div>
    </div>
<%- include base/base.ejs %>
<script type="text/html" id="traintemplate">
    {{each data as item i}}
    <tr>
        <td class="station_code">{{item.queryLeftNewDTO.station_train_code}}</td>
        <td class="station_from_to">
            {{if item.queryLeftNewDTO.from_station_name == item.queryLeftNewDTO.start_station_name}}
            <strong class="start-s">{{item.queryLeftNewDTO.from_station_name}}</strong>
            {{else}}
            <strong class="pass-s">{{item.queryLeftNewDTO.from_station_name}}</strong>
            {{/if}}
            {{if item.queryLeftNewDTO.to_station_name == item.queryLeftNewDTO.end_station_name}}
            <strong class="end-s">{{item.queryLeftNewDTO.to_station_name}}</strong>
            {{else}}
            <strong class="pass-s">{{item.queryLeftNewDTO.to_station_name}}</strong>
            {{/if}}
        </td>
        <td class="station_time">
            <strong class="show_strong">{{item.queryLeftNewDTO.start_time}}</strong><br><strong>{{item.queryLeftNewDTO.arrive_time}}</strong>
        </td>
        <td class="station_last">
            <strong class="show_strong">{{item.queryLeftNewDTO.lishi}}</strong><br>
            {{if item.queryLeftNewDTO.day_difference == 0}}
            <span class="show_strong">当日到达</span>
            {{else if item.queryLeftNewDTO.day_difference == 1}}
            <span class="show_strong">次日到达</span>
            {{else}}
            <span class="show_strong">{{item.queryLeftNewDTO.day_difference}}日到达</span>
            {{/if}}
        </td>
        {{include 'ticketnum' item}}
        <td class="station_remark last">预定</td>
    </tr>
    {{/each}}
</script>
<script type="text/html" id="ticketnum">
    {{each numlist as num i}}
    {{if num > 0}}
    <td class="station_seat"><strong class="show_strong">{{num}}</strong></td>
    {{else if num == '有'}}
    <td class="station_seat"><strong class="show_strong" style="color:#26a306;">{{num}}</strong></td>
    {{else}}
    <td class="station_seat"><span>{{num}}</span></td>
    {{/if}}
    {{/each}}
</script>
<script>
    (function(){
        //日期
        var date = $('#date');
        //始发站
        var from_station = $('#from_station');
        //目的地
        var to_station = $('#to_station');
        var getTrainDate = function(param,cb){
            global.getData('/api/getTrainDate',param,cb);
        };
        var updataTrainData =  function(){
            var train_body = $('#train-body');
            var no_ticket = $('#no-ticket');
            var message = '';
            var index = layer.load(1);
            getTrainDate({
                date: date.val(),
                from_station: station_names[from_station.val()],
                to_station : station_names[to_station.val()],
                purpose_codes: $('input[name="purpose"]:checked').val()
            },function(data){
                console.log(data);
                if (data.data) {
                    if (data.data.length > 0) {
                        $.each(data.data, function(index, item) {
                            item.numlist = [item.queryLeftNewDTO.swz_num,item.queryLeftNewDTO.tz_num,item.queryLeftNewDTO.zy_num,item.queryLeftNewDTO.ze_num,item.queryLeftNewDTO.gr_num,item.queryLeftNewDTO.rw_num,item.queryLeftNewDTO.yw_num,item.queryLeftNewDTO.rz_num,item.queryLeftNewDTO.yz_num,item.queryLeftNewDTO.wz_num,item.queryLeftNewDTO.qt_num];
                        });
                        var compiled = template('traintemplate',data);
                        no_ticket.css('display', 'none');
                        //console.log(compiled);
                        train_body.html(compiled);
                    } else{
                        train_body.html('');
                        no_ticket.html('很抱歉，按您的查询条件，当前未找到相关列车');
                        no_ticket.css('display', 'block');
                    }
                } else {
                    if (data.messages.length == 0) {
                        train_body.html('');
                        no_ticket.html('查询失败');
                        no_ticket.css('display', 'block');
                    } else{
                        for(var i = 0; i<data.messages.length; i++){
                            message += data.messages[i] + '<br>';
                        }
                        train_body.html('');
                        no_ticket.html(message);
                        no_ticket.css('display', 'block');
                    }  
                }
                layer.close(index);
            });
        }
        var verification = function(){
            if (from_station.val().length == 0) {
                from_station.addClass('warning');
                return false;
            }
            if (typeof station_names[from_station.val()] == 'undefined') {
                from_station.addClass('warning');
                from_station.val('无法匹配');
                return false;
            }
            if (to_station.val().length == 0) {
                to_station.addClass('warning');
                return false;
            }
            if (typeof station_names[to_station.val()] == 'undefined') {
                to_station.addClass('warning');
                to_station.val('无法匹配');
                return false;
            }
            if (date.val().length == 0) {
                date.addClass('warning');
                return false;
            }
            return true;
        }
        var init = function(){
            var theader = $('#train-header');
            var win = $(window);
            var top = theader.offset().top;
            win.on('scroll', function(event) {
                if (win.scrollTop() > top) {
                    theader.css('position', 'fixed');
                } else{
                    theader.css('position', 'relative');
                }
            });
            $('#queryDbtn').on('click', function(event) {
                event.preventDefault();
                if (verification()) {
                    updataTrainData();
                }
            });
            $('.queryTrain').on('focus', '.warning', function(event) {
                $(this).val('');
                $(this).removeClass('warning');
            });
            $('#change').on('click', function(event) {
                var from_val = from_station.val();
                var to_val = to_station.val();
                if (from_val && to_val) {
                    from_station.val(to_val);
                    to_station.val(from_val);
                }
            });
        }
        init();
    })()
</script>
<%- include base/footer.ejs %>