<%- include base/header.ejs %>
    <div class="main">
        <div class="trainT">
            <div class="queryTrain">
                <form  method="get" >
                    <div class="train-f-group">
                        <label for="from_station">出发地</label>
                        <input type="text" name="" value="" id="from_station" class="chooseCity">
                        <ul class="suggestions">
                        </ul>
                    </div>
                    <div class="train-f-c-btn">
                        <a href="javascript:;" id="change"></a>
                    </div>
                    <div class="train-f-group">
                        <label for="to_station">目的地</label>
                        <input type="text" name="" value="" id="to_station" class="chooseCity">
                        <ul class="suggestions">
                        </ul>
                    </div>
                    <div class="train-f-group">
                        <label for="date">出发日</label>
                        <input type="text" name="" value="" class="date_picker" readonly id="date">
                    </div>
                    <script type="text/javascript">
                        $(function(){
                            $('.date_picker').date_input();
                        })
                    </script> 
                    <button id="queryDbtn" type="button">查询</button>
                </form>
            </div>
            <div class="train-show">
                <div class="train-header clearfix" id="train-header">
                   <span class="item sort_num">车次</span>
                   <span class="item sort_time">发时/到时</span>
                   <span class="item sort_station">出发/到达车站</span>
                   <span class="item sort_arrtime">运行时间</span>
                   <span class="item sort_price">参考票价</span>
                   <span class="item sort_count">剩余票数</span>
                </div>
                <div class="train_list" id="train-body">
                </div>
                <div class="no-ticket" id="no-ticket"></div>
            </div>
        </div>
    </div>
<%- include base/base.ejs %>
<script src="/javascripts/stationTN.js"></script>
<script type="text/html" id="traintemplate">
    {{each list as item i}}
    <div class="trainCase clearfix">
        <div class="tr_num item">{{item.trainNum}}</div>
        <div class="item tr_time">
            <span class="start_time">{{item.departDepartTime}}</span>
            <br>
            <span class="end_time">{{item.destArriveTime}}</span>
        </div>
        <div class="item tr_station">
            <span><i class="icon-{{item.departStationType}}"></i>{{item.departStationName}}</span>
            <br>
            <span><i class="icon-{{item.destStationType}}"></i>{{item.destStationName}}</span>
        </div>
        <div class="item tr_arrtime">{{item.durationStr}}</div>
        {{include 'ticketList' item}}
    </div>
    {{/each}}
</script>
<script type="text/html" id="ticketList">
    <div class="item tr_price">
        <ul>
        {{each prices as item i}}
            <li class="p_list"><span class="seat_name">{{item.seatName}}</span><span class="seat_pri">￥{{item.price}}</span><span class="seat_count">余{{item.leftNumber}}张</span></li>
        {{/each}}
        </ul>
    </div>
</script>
<script type="text/html" id="showList">
    {{each list as item i}}
        <li class="sugopt" data-name="{{item.cityName}}">{{item.cityName}}({{item.cityEnglishName}})</li>
    {{/each}}
</script>
<script>
    (function(){
        //日期
        var date = $('#date');
        //始发站
        var from_station = $('#from_station');
        //目的地
        var to_station = $('#to_station');
        var chooseCity = $('.chooseCity');
        var suggestions = $('.suggestions');
        var getTrainDate = function(param,cb){
            global.getData('/api/getTNTrainDate',param,cb);
        };
        var hasCity = function(str){
            for(var i = 0; i < station.length; i++){
                if (station[i].cityName == str) {
                    return true;
                }
            }
            return false;
        };
        var matchCity = function(str){
            var length = str.length;
            var cities = [];
            str = str.toLowerCase();
            if (length == 0) {
                return [];
            }
            for(var i = 0; i< station.length; i++){
                var city = {};
                var citypinyin = station[i].pinyin.toLowerCase().replace(/\s+/g,"");
                city.cityName = station[i].cityName;
                city.cityEnglishName = station[i].pinyin;
                if (str == city.cityName.substring(0,length) || str == citypinyin.substring(0,length)) {
                    cities.push(city);
                }
            }
            return cities;
        };
        var updataTrainData =  function(){
            var train_body = $('#train-body');
            var no_ticket = $('#no-ticket');
            var index = layer.load(1);
            getTrainDate({
                date: date.val(),
                from_station: from_station.val(),
                to_station : to_station.val()
            },function(data){
                //console.log(data);
                if (data.code == 200 && data.data) {
                    if (data.data.list && data.data.list.length > 0) {
                        var compiled = template('traintemplate',data.data);
                        no_ticket.css('display', 'none');
                        train_body.html(compiled);
                    } else{
                        train_body.html('');
                        no_ticket.html('很抱歉，按您的查询条件，当前未找到相关列车');
                        no_ticket.css('display', 'block');
                    }
                } else {
                    train_body.html('');
                    no_ticket.html('查询失败');
                    no_ticket.css('display', 'block'); 
                }
                layer.close(index);
            });
        }
        var verification = function(){
            if (from_station.val().length == 0) {
                from_station.addClass('warning');
                return false;
            }
            if (!hasCity(from_station.val())) {
                from_station.addClass('warning');
                from_station.val('无法匹配');
                return false;
            }
            if (to_station.val().length == 0) {
                to_station.addClass('warning');
                return false;
            }
            if (!hasCity(to_station.val())) {
                to_station.addClass('warning');
                to_station.val('无法匹配');
                return false;
            }
            if (date.val().length == 0) {
                date.addClass('warning');
                return false;
            }
            return true;
        }
        var init = function(){
            $('#queryDbtn').on('click', function(event) {
                event.preventDefault();
                if (verification()) {
                    updataTrainData();
                }
            });
            $('.queryTrain').on('focus', '.warning', function(event) {
                $(this).val('');
                $(this).removeClass('warning');
            });
            $('#change').on('click', function(event) {
                var from_val = from_station.val();
                var to_val = to_station.val();
                if (from_val && to_val) {
                    from_station.val(to_val);
                    to_station.val(from_val);
                }
            });
            suggestions.on('click', '.sugopt', function(event) {
                var that = $(this);
                var city = that.attr('data-name');
                that.parent().prev().val(city);
            });
            chooseCity.on('keyup', function(event) {
                var that = $(this);
                var cityList = that.next();
                var cities = matchCity(that.val());
                if (cities.length > 0) {
                    var data = {list:cities};
                    var compiled = template('showList',data);
                    cityList.html(compiled);
                    cityList.css('display', 'block');
                } else{
                    cityList.css('display', 'none');
                }
            });
            chooseCity.on('blur',  function(event) {
                var cityList = $(this).next();
                setTimeout(function(){
                    cityList.css('display', 'none');
                },300);
            });
        }
        init();
    })()
</script>
<%- include base/footer.ejs %>