@font-face {
  font-family: 'voltaire';
  src: url('../fonts/voltaire-regular-webfont.eot');
  src: url('../fonts/voltaire-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/voltaire-regular-webfont.woff') format('woff'), url('../fonts/voltaire-regular-webfont.ttf') format('truetype'), url('../fonts/voltaire-regular-webfont.svg#voltaireregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
* {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
:before,
:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: Tahoma, Helvetica, "microsoft yahei", "Hiragino Sans GB", Simsun, sans-serif;
  line-height: 1.5;
  font-size: 12px;
}
input,
button {
  outline: none;
  border: none;
}
input,
textarea,
button {
  font-family: Tahoma, Helvetica, "microsoft yahei", "Hiragino Sans GB", Simsun, sans-serif;
}
img {
  vertical-align: middle;
  border: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
form {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
.fL {
  float: left;
}
.fR {
  float: right;
}
/*文本单行超出省略号表示*/
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.form-group:before,
.form-group:after {
  display: table;
  content: "";
}
.clearfix:after,
.row:after,
.form-group:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clear {
  clear: both;
}
/*手势*/
.pointer {
  cursor: pointer;
}
/*浏览器版本提示*/
.version {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f2dede;
  color: #a94442;
  text-align: center;
  font-size: 32px;
  line-height: 70px;
  height: 70px;
  z-index: 1000;
}
/*宽高已知居中*/
.whCenter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/*文本居中*/
.text-center {
  text-align: center;
}
/*字体图片*/
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
.glyphicon-pencil:before,
.glyphicon-pencil {
  before: "\270f";
  content: "\270f";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-erase:before {
  content: "\e221";
}
.glyphicon-grain:before {
  content: "\e239";
}
.glyphicon-piggy-bank:before {
  content: "\e225";
}
.glyphicon-apple:before {
  content: "\f8ff";
}
.glyphicon-knight:before {
  content: "\e215";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-phone:before {
  content: "\e145";
}
/*栅格*/
[class*=col-w] {
  float: left;
  position: relative;
}
.col-w-1 {
  width: 8.33333333%;
}
.col-w-2 {
  width: 16.66666667%;
}
.col-w-3 {
  width: 25%;
}
.col-w-4 {
  width: 33.33333333%;
}
.col-w-5 {
  width: 41.66666667%;
}
.col-w-6 {
  width: 50%;
}
.col-w-7 {
  width: 58.33333333%;
}
.col-w-8 {
  width: 66.66666667%;
}
.col-w-9 {
  width: 75%;
}
.col-w-10 {
  width: 83.33333333%;
}
.col-w-11 {
  width: 91.66666667%;
}
.col-w-12 {
  width: 100%;
}
/*总容器*/
.all-container {
  width: 100%;
  min-width: 1024px;
  position: relative;
  min-height: 100%;
  padding-bottom: 250px;
}
/*导航*/
/*.header{
    height:58px;
    width: 100%;
    margin-bottom: 10px;
    color: @fontWhite;
    .text-center;
    .navbar{
        font-size: 18px;
        color: #999;
        .account{
            span{
                display:inline-block;
                padding:20px;
                .pointer;
            }
        }
    } 
    h1{
        font-size: 32px;
        font-weight: 500;
        padding-top: 10px;
        color: #0F3E65;
    }
}*/
/*工具栏*/
.toolbar {
  background-color: #006289;
  padding: 0 20px;
}
.toolbar .t-opt {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.toolbar .t-opt .t-item {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  height: 100%;
  padding: 0 10px;
}
.toolbar .t-opt .t-item:hover {
  background-color: #4B99DA;
}
/*导航*/
.header {
  position: relative;
  height: 250px;
  background: url(../images/b1.jpg) no-repeat center;
}
.header .banImg {
  width: 100%;
  height: auto;
}
.header .headerH {
  position: absolute;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  top: 60px;
  left: 15%;
}
.header .navbar {
  position: absolute;
  top: 50px;
  right: 10%;
  background-color: #fff;
  height: 70px;
}
.header .navbar ul li {
  float: left;
  width: 120px;
  text-align: center;
}
.header .navbar ul li a,
.header .navbar ul li button {
  line-height: 70px;
  height: 70px;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.header .navbar ul li a:hover,
.header .navbar ul li button:hover {
  color: #DC5E09;
}
.header .navbar ul .active {
  color: #DC5E09;
  border-bottom: 3px solid;
}
/*天气预报*/
.weather {
  color: #fff;
  text-align: center;
  background-image: url(../images/weabg.png);
}
.weather .w-query {
  margin: 10px 0;
}
.weather .w-query input {
  color: #313131;
  width: 264px;
  height: 27px;
  line-height: 27px;
  padding: 0 0 0 8px;
  overflow: hidden;
  font-size: 14px;
  vertical-align: bottom;
}
.weather .w-query button {
  height: 27px;
  line-height: 27px;
  padding: 0 5px;
  background-color: #47B7B7;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  vertical-align: bottom;
}
.weather .w-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  padding: 0 15px;
}
.weather .w-item p {
  margin: 8px 0;
}
.weather .w-item img {
  width: 35px;
  height: 25px;
}
/*中间主内容*/
.mid {
  position: relative;
  margin-top: 30px;
}
/*侧栏*/
.sidebar {
  width: 270px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #ececec;
  background: #fcfcfc;
}
.sidebar h2 {
  color: #00aeff;
  line-height: 14px;
  padding: 18px 20px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 12px;
}
.sidebar .siditem {
  padding: 13px 20px;
}
.sidebar .siditem a {
  color: #666;
  font-size: 16px;
}
.sidebar .siditem a .iconfont {
  font-size: 8px;
  margin-right: 5px;
}
.sidebar .siditem a:hover .iconfont font {
  color: #bbb;
}
/*模块标题*/
.caption_heading {
  color: #00a0af;
  position: relative;
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 20px;
}
.caption_heading .title {
  float: left;
  position: relative;
  padding-bottom: 8px;
  color: #00a0af;
}
.caption_heading .title:after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: #00a0af;
}
/*弹出框输入网址*/
.layui-layer-pubWebsite {
  line-height: 30px;
  position: relative;
}
.layui-layer-pubWebsite .form-group {
  margin-bottom: 10px;
}
.layui-layer-pubWebsite label {
  display: inline-block;
  color: #6c717b;
}
.layui-layer-pubWebsite input {
  border: 1px solid #E3D19A;
  width: 250px;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
}
.layui-layer-pubWebsite input:focus {
  border: 1px solid #C29409;
}
.layui-layer-pubWebsite .errTip {
  color: #C2960F;
  visibility: hidden;
  left: 0;
}
/*layer-skin-pubsym*/
body .layer-skin-pubsym .layui-layer-title {
  background-color: #FF7700;
  color: #fff;
  border: none;
}
body .layer-skin-pubsym .layui-layer-btn0 {
  background-color: #FF7700;
  border: none;
}
body .layer-skin-pubsym .layui-layer-btn1 {
  background-color: #F4DB92;
}
body .layer-skin-delTip .layui-layer-title {
  background-color: #FF7700;
  color: #fff;
  border: none;
}
body .layer-skin-delTip .layui-layer-btn0 {
  background-color: #FF7700;
  color: #fff;
  border: none;
}
/*消息列表*/
.message .mes {
  font-size: 18px;
  margin-bottom: 5px;
}
.message .mes i,
.message .mes .timer {
  color: #2F455D;
  margin-right: 15px;
}
.message .mes a {
  color: #7f8c8c;
}
/*系统模块*/
.pubsym {
  padding: 0 15px;
  text-align: center;
  height: 160px;
  color: #089D94;
  position: relative;
}
.pubsym .iconfont {
  font-size: 56px;
  color: #089D94;
  display: inline-block;
  width: 100%;
}
.pubsym .symSite {
  display: block;
}
.pubsym .symSite .symname {
  display: inline-block;
  font-size: 16px;
  color: #160505;
  margin: 5px 0;
  font-weight: 600;
}
.pubsym .operate {
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  right: 15px;
  left: 15px;
  font-size: 14px;
  text-align: center;
  color: #DC5E09;
}
.pubsym .operate span {
  line-height: 20px;
  cursor: pointer;
  margin-left: 10px;
}
.persym {
  /*.sym(#D07B59);*/
  /*.sym(#30ACE3);*/
  padding: 0 15px;
  text-align: center;
  height: 160px;
  color: #0C9AD4;
  position: relative;
}
.persym .iconfont {
  font-size: 56px;
  color: #0C9AD4;
  display: inline-block;
  width: 100%;
}
.persym .symSite {
  display: block;
}
.persym .symSite .symname {
  display: inline-block;
  font-size: 16px;
  color: #000;
  margin: 5px 0;
  font-weight: 600;
}
.persym .operate {
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  right: 15px;
  left: 15px;
  font-size: 14px;
  text-align: center;
  color: #DC5E09;
}
.persym .operate span {
  line-height: 20px;
  cursor: pointer;
  margin-left: 10px;
}
/*主页面*/
.main {
  /*消息模块*/
  /*个人系统*/
  /*公共系统*/
}
.main .mesinfo {
  padding: 0 0 10px;
}
.main .mesinfo .message {
  padding: 0 15px;
}
.main .personSym {
  padding: 30px 0 ;
}
.main .personSym h2 {
  color: #00a0af;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}
.main .publicSym {
  padding: 20px 0 30px;
  background: url(../images/2.jpg) no-repeat;
}
.main .publicSym h2 {
  color: #00a0af;
  font-size: 32px;
  text-align: center;
  border-bottom: 7px double #DEDEDE;
  width: 200px;
  margin: 0 auto 30px;
}
.main .pubsyms {
  width: 960px;
  margin: 0 auto;
}
/*主页面*/
.index {
  /*我们模块*/
  /*关于我们及自设模块*/
  /* 理念*/
  /*公司理念*/
}
.index .ourMod {
  width: 1024px;
  margin: 100px auto ;
}
.index .ourMod .mod {
  width: 256px;
  *width: 216px;
  height: 256px;
  *height: 216px;
  text-align: center;
  float: left;
  padding: 20px;
}
.index .ourMod .mod a {
  display: block;
  color: #000;
  height: 100%;
}
.index .ourMod .mod a:hover {
  background-color: #ffc001;
  color: #fff;
}
.index .ourMod .mod a .icon {
  font-size: 56px;
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
}
.index .ourMod .mod a h4 {
  font-size: 20px;
}
.index .sec {
  width: 100%;
  height: 2806px;
  background: url(../images/bgm.jpg) no-repeat center;
  position: relative
  /*自定义模块*/
  /*更多体验*/
}
.index .sec .aboutUs {
  width: 1200px;
  padding-top: 100px;
  margin: 0 auto;
}
.index .sec .aboutUs .fullContent {
  width: 100%;
  height: 649px;
  position: relative;
}
.index .sec .aboutUs .fullContent .fullimg {
  position: absolute;
  top: 8px;
  left: 22px;
  width: 640px;
  height: 430px;
}
.index .sec .aboutUs .fullContent .fullimg img {
  width: 100%;
  height: 100%;
}
.index .sec .aboutUs .fullContent .fullTitle {
  position: absolute;
  top: 83px;
  left: 694px;
  width: 300px;
  height: 45px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.index .sec .aboutUs .fullContent .fullText {
  position: absolute;
  top: 159px;
  left: 695px;
  width: 400px;
  height: 251px;
  color: #fff;
  font-size: 15px;
  line-height: 31px;
}
.index .sec .selfMod {
  width: 1200px;
  margin: 0 auto;
}
.index .sec .selfMod .mods .modrow {
  width: 850px;
  float: right;
}
.index .sec .selfMod .mods .mod {
  width: 250px;
  height: 330px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: bottom;
  background: url(../images/mod.jpg) no-repeat center;
  margin-left: 25px;
  margin-bottom: 20px;
  position: relative;
}
.index .sec .selfMod .mods .mod .lower {
  display: block;
  width: 100%;
  *width: 230px;
  height: 100%;
  *height: 310px;
  padding: 10px;
  cursor: pointer;
}
.index .sec .selfMod .mods .mod .lower .content {
  color: #FF001D;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.index .sec .selfMod .mods .mod .lower .content h3 {
  font-size: 24px;
  width: 180px;
  margin: 100px auto 15px;
  border: 1px solid;
  padding: 10px;
}
.index .sec .selfMod .mods .mod .lower .content .opt {
  display: none;
  font-size: 24px;
}
.index .sec .selfMod .mods .mod .lower .content .opt span {
  padding: 0 5px;
  margin: 0 8px;
  line-height: 24px;
  font-size: 24px;
  color: #F60E0E;
}
.index .sec .selfMod .mods .mod .lower:hover,
.index .sec .selfMod .mods .mod .lower.active {
  background-color: #ffc001;
  background-color: rgba(255, 192, 1, 0.8);
  /**background-color: #ffc001;*/
  /*for IE7*/
  /*_background-color: #ffc001; */
  /*for IE6*/
  filter: alpha(opacity=80);
  zoom: 1;
}
.index .sec .selfMod .mods .mod .lower:hover .content,
.index .sec .selfMod .mods .mod .lower.active .content {
  display: block;
  color: #fff;
  border: 1px solid #fff;
}
.index .sec .selfMod .mods .mod .lower:hover .content .opt,
.index .sec .selfMod .mods .mod .lower.active .content .opt {
  display: block;
}
.index .sec .selfMod .mods .mod.mod1 {
  background-image: url(../images/mod1.jpg);
}
.index .sec .selfMod .mods .mod.mod2 {
  background-image: url(../images/mod2.jpg);
}
.index .sec .selfMod .mods .mod.mod3 {
  background-image: url(../images/mod3.jpg);
}
.index .sec .selfMod .mods .mod.mod4 {
  background-image: url(../images/mod4.png);
}
.index .sec .moreExp {
  width: 1200px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -600px;
  height: 718px;
  color: #fff;
}
.index .sec .moreExp h2 {
  position: absolute;
  top: 200px;
  left: 694px;
  height: 49px;
  line-height: 49px;
  font-size: 36px;
}
.index .sec .moreExp p {
  position: absolute;
  top: 300px;
  left: 695px;
  width: 300px;
  font-size: 16px;
  line-height: 32px;
}
.index .idea {
  width: 100%;
  height: 1140px;
  background: url(../images/idea.jpg) no-repeat center;
}
.index .idea .fullContent {
  width: 1200px;
  padding: 200px 0 0 0;
  margin: 0 auto;
  height: 100%;
  position: relative;
  text-align: center;
}
.index .idea .fullContent h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.index .idea .fullContent p {
  font-size: 16px;
  line-height: 36px;
  text-align: left;
}
.index .idea .fullContent .text1 {
  position: absolute;
  top: 455px;
  left: 61px;
  width: 297px;
  height: 275px;
}
.index .idea .fullContent .text1 p {
  color: #999999;
}
.index .idea .fullContent .text1 h3 {
  color: #FFC001;
}
.index .idea .fullContent .text2 {
  position: absolute;
  top: 455px;
  left: 454px;
  width: 297px;
  height: 275px;
}
.index .idea .fullContent .text2 p {
  color: #fff;
}
.index .idea .fullContent .text2 h3 {
  color: #fff;
}
.index .idea .fullContent .text3 {
  position: absolute;
  top: 455px;
  left: 856px;
  width: 297px;
  height: 275px;
}
.index .idea .fullContent .text3 p {
  color: #999999;
}
.index .idea .fullContent .text3 h3 {
  color: #FFC001;
}
.index .comPhilosophy {
  width: 100%;
  height: 799px;
  background: url(../images/pi.jpg) no-repeat center;
}
.index .comPhilosophy .content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  color: #fff;
}
.index .comPhilosophy .content h3 {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 232px;
  left: 28px;
  height: 80px;
  line-height: 1;
}
.index .comPhilosophy .content p {
  position: absolute;
  top: 364px;
  left: 26px;
  width: 509px;
  font-size: 18px;
  line-height: 38px;
}
/*火车票页面*/
.train {
  width: 1000px;
  margin: 0 auto
  /*车票显示*/
}
.train .queryTrain {
  padding: 12px 20px;
  border: 1px solid #089d94;
  height: 74px;
  font-size: 14px;
}
.train .queryTrain form {
  vertical-align: middle;
  padding: 10px 0;
}
.train .queryTrain form .train-f-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 30px;
}
.train .queryTrain form input[type='text'] {
  width: 150px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #cfcdc7;
  background: #fff;
  padding-left: 5px;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: top;
}
.train .queryTrain form .warning {
  color: #999;
  border-color: red!important;
}
.train .queryTrain form .change {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../images/bg02_03.png) no-repeat;
  position: relative;
  top: 5px;
  cursor: pointer;
  margin: 0 5px;
}
.train .queryTrain form .quick-s {
  float: right;
  position: relative;
  top: -10px;
}
.train .queryTrain form .quick-s ul {
  float: left;
  width: 80px;
  border-left: 1px solid #298cce;
  padding-left: 10px;
  margin-right: 15px;
}
.train .queryTrain form .quick-s ul li {
  height: 23px;
  line-height: 23px;
}
.train .queryTrain form .quick-s button {
  width: 92px;
  height: 30px;
  line-height: 30px;
  background-color: #FF8000;
  color: #fff;
  text-align: center;
  position: relative;
  top: 8px;
  cursor: pointer;
}
.train .train-show {
  /*车次*/
  /*出发始发站*/
  /*出/到时间*/
  /*历时*/
  /*座次*/
  /*备注*/
  /*表头*/
  /*无票显示*/
}
.train .train-show .station_code {
  width: 90px;
}
.train .train-show .station_from_to {
  width: 100px;
}
.train .train-show .station_from_to strong {
  color: #333;
  display: block;
  padding-left: 22px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  text-align: left;
  background-position: 4px center;
  background-repeat: no-repeat;
}
.train .train-show .station_from_to .start-s {
  background-image: url(../images/train-icon_07.png);
}
.train .train-show .station_from_to .pass-s {
  background-image: url(../images/train-icon_02.png);
}
.train .train-show .station_from_to .end-s {
  background-image: url(../images/train-icon_05.png);
}
.train .train-show .station_time {
  width: 82px;
}
.train .train-show .station_last {
  width: 82px;
}
.train .train-show .station_seat {
  width: 48px;
}
.train .train-show .station_remark {
  width: 118px;
}
.train .train-show .train-header {
  position: relative;
  top: 0;
  width: 1000px;
}
.train .train-show .train-list-h {
  background-color: #089d94;
  color: #fff;
  display: table;
  height: 52px;
}
.train .train-show .train-list-h li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: url(../images/line_tlisth.png) right center no-repeat;
  font-weight: bold;
}
.train .train-show .train-list-h .last {
  background: none;
}
.train .train-show .train-table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
  border: 1px solid #298cce;
}
.train .train-show .train-table td {
  height: 36px;
  border-right: 1px solid #b0cedd;
  border-top: 1px solid #b0cedd;
  color: #999;
}
.train .train-show .train-table .last {
  border-right: none;
}
.train .train-show .train-table .station_code {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.train .train-show .train-table .show_strong {
  color: #333;
}
.train .train-show .no-ticket {
  color: #aaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 250px 0;
  display: none;
  text-align: center;
}
/*途牛火车票页面*/
.trainT {
  width: 890px;
  margin: 0 auto
  /*查询框*/
  /*查询结果*/
}
.trainT .queryTrain {
  padding: 10px;
  border: 1px solid #ddd;
  position: relative
  /*往返城市切换按钮*/
}
.trainT .queryTrain .train-f-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  font-size: 16px;
  height: 35px;
  line-height: 35px
  /*警告框*/
  /*城市联想提示*/
}
.trainT .queryTrain .train-f-group input {
  height: 35px;
  width: 160px;
  *width: 130px;
  border: 1px solid #ddd;
  padding: 0 15px;
  vertical-align: middle;
  line-height: 35px;
}
.trainT .queryTrain .train-f-group .warning {
  color: #25da7f;
  border-color: #25da7f;
}
.trainT .queryTrain .train-f-group .suggestions {
  position: absolute;
  top: 100%;
  left: 50px;
  width: 180px;
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  display: none;
}
.trainT .queryTrain .train-f-group .suggestions .sugopt {
  padding: 6px 20px 6px 5px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #fff;
  color: #666;
  line-height: 16px;
  cursor: pointer;
  font-size: 14px;
}
.trainT .queryTrain .train-f-group .suggestions .sugopt:hover {
  background: #63ca33;
  color: #fff;
}
.trainT .queryTrain .train-f-c-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  width: 50px;
  height: 35px;
  vertical-align: top;
  background: url(../images/spirit.png) -76px 12px no-repeat;
}
.trainT .queryTrain .train-f-c-btn a {
  position: absolute;
  left: 14px;
  top: 7px;
  width: 22px;
  height: 22px;
  background: url(../images/spirit.png) -30px -2px no-repeat;
}
.trainT .queryTrain button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 120px;
  height: 37px;
  line-height: 37px;
  color: #fff;
  background-color: #25da7f;
  text-align: center;
  font-size: 18px;
  vertical-align: bottom;
  cursor: pointer;
}
.trainT .train-show {
  /*无票显示*/
  /*查询结果头部*/
  /*查询本体*/
}
.trainT .train-show .no-ticket {
  color: #aaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 250px 0;
  display: none;
  text-align: center;
}
.trainT .train-show .train-header {
  font-size: 12px;
  padding: 8px 0
  /*车次*/
  /*出发/到时*/
  /*出发到达站*/
  /*运行时间*/
  /*参考票价*/
  /*剩余票数*/
}
.trainT .train-show .train-header .item {
  float: left;
  text-align: center;
  line-height: 14px;
  color: #666;
  padding: 11px 14px 11px 20px;
  height: 36px;
}
.trainT .train-show .train-header .sort_num {
  width: 84px;
}
.trainT .train-show .train-header .sort_time {
  width: 164px;
}
.trainT .train-show .train-header .sort_station {
  width: 134px;
}
.trainT .train-show .train-header .sort_arrtime {
  width: 134px;
}
.trainT .train-show .train-header .sort_price {
  width: 144px;
}
.trainT .train-show .train-header .sort_count {
  width: 84px;
}
.trainT .train-show .train_list .trainCase {
  width: 100%;
  padding: 19px 15px 17px 10px;
  margin-top: 10px;
  border: 1px solid #e2e2e2
  /*车次*/
  /*出发到达时间*/
  /*到达车站*/
  /* 运行时间*/
  /*票价*/
}
.trainT .train-show .train_list .trainCase:hover {
  border-color: #37c346;
}
.trainT .train-show .train_list .trainCase .item {
  float: left;
  text-align: left;
}
.trainT .train-show .train_list .trainCase .tr_num {
  padding-left: 10px;
  width: 100px;
  font-size: 20px;
  color: #465a64;
}
.trainT .train-show .train_list .trainCase .tr_time {
  width: 125px;
  padding-left: 30px;
  font-size: 20px;
  color: #333;
}
.trainT .train-show .train_list .trainCase .tr_time .end_time {
  font-size: 15px;
  color: #666;
}
.trainT .train-show .train_list .trainCase .tr_station {
  width: 160px;
  padding-left: 40px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}
.trainT .train-show .train_list .trainCase .tr_station i {
  background: url('../images/ticket.png') no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.trainT .train-show .train_list .trainCase .tr_station span {
  display: inline-block;
  margin-bottom: 5px;
}
.trainT .train-show .train_list .trainCase .tr_station .icon-0 {
  background-position: 0 -128px;
}
.trainT .train-show .train_list .trainCase .tr_station .icon-1 {
  background-position: 0 -151px;
}
.trainT .train-show .train_list .trainCase .tr_station .icon-2 {
  background-position: -999px -999px;
}
.trainT .train-show .train_list .trainCase .tr_arrtime {
  width: 120px;
  color: #666;
  text-align: center;
  font-size: 14px;
  padding-top: 2px;
}
.trainT .train-show .train_list .trainCase .tr_price {
  width: 260px;
  padding-left: 20px;
}
.trainT .train-show .train_list .trainCase .tr_price .p_list span {
  display: inline-block;
  vertical-align: middle;
}
.trainT .train-show .train_list .trainCase .tr_price .p_list .seat_name {
  width: 50px;
  font-size: 12px;
  color: #666;
  line-height: 22px;
}
.trainT .train-show .train_list .trainCase .tr_price .p_list .seat_pri {
  font-size: 18px;
  width: 90px;
  font-weight: bold;
  color: #f60;
}
.trainT .train-show .train_list .trainCase .tr_price .p_list .seat_count {
  font-size: 12px;
  color: #333;
  width: 100px;
  padding-left: 5px;
}
/*机票页面*/
.flight {
  width: 890px;
  margin: 0 auto
  /*查询框*/
  /*查询结果*/
}
.flight .queryFlight {
  padding: 10px;
  border: 1px solid #ddd;
  position: relative
  /*往返城市切换按钮*/
}
.flight .queryFlight .flight-f-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  font-size: 16px;
  height: 35px;
  line-height: 35px
  /*警告框*/
  /*城市联想提示*/
}
.flight .queryFlight .flight-f-group input {
  height: 35px;
  width: 160px;
  *width: 130px;
  border: 1px solid #ddd;
  padding: 0 15px;
  vertical-align: middle;
  line-height: 35px;
}
.flight .queryFlight .flight-f-group .warning {
  color: #25da7f;
  border-color: #25da7f;
}
.flight .queryFlight .flight-f-group .suggestions {
  position: absolute;
  top: 100%;
  left: 50px;
  width: 180px;
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  display: none;
}
.flight .queryFlight .flight-f-group .suggestions .sugopt {
  padding: 6px 20px 6px 5px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #fff;
  color: #666;
  line-height: 16px;
  cursor: pointer;
  font-size: 14px;
}
.flight .queryFlight .flight-f-group .suggestions .sugopt:hover {
  background: #63ca33;
  color: #fff;
}
.flight .queryFlight .flight-f-c-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  width: 50px;
  height: 35px;
  vertical-align: top;
  background: url(../images/spirit.png) -76px 12px no-repeat;
}
.flight .queryFlight .flight-f-c-btn a {
  position: absolute;
  left: 14px;
  top: 7px;
  width: 22px;
  height: 22px;
  background: url(../images/spirit.png) -30px -2px no-repeat;
}
.flight .queryFlight button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 120px;
  height: 37px;
  line-height: 37px;
  color: #fff;
  background-color: #25da7f;
  text-align: center;
  font-size: 18px;
  vertical-align: bottom;
  cursor: pointer;
}
.flight .flightRe {
  /*查询结果不存在*/
  /*查询结果列表*/
}
.flight .flightRe .air_header {
  height: 40px;
  padding: 10px 0 6px;
  border-bottom: 2px solid #23cc77
  /*航班信息*/
  /*发出时间*/
  /*到达时间*/
  /*准点率*/
  /*价格*/
}
.flight .flightRe .air_header .item {
  float: left;
  height: 20px;
  line-height: 20px;
  color: #666;
  text-align: left;
}
.flight .flightRe .air_header .icon {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 7px;
  height: 8px;
  margin: 5px 0 0 5px;
  vertical-align: text-top;
  background: url(../images/list.png) -35px -45px no-repeat;
}
.flight .flightRe .air_header .sort_hangban {
  width: 120px;
  *width: 100px;
  padding-left: 18px;
}
.flight .flightRe .air_header .sort_detime {
  width: 184px;
  *width: 140px;
  padding-left: 44px;
}
.flight .flightRe .air_header .sort_arrtime {
  width: 193px;
  *width: 130px;
  padding-left: 63px;
}
.flight .flightRe .air_header .sort_ontime {
  width: 101px;
  *width: 63px;
  padding-left: 38px;
}
.flight .flightRe .air_header .sort_price {
  width: 248px;
  *width: 220px;
  padding-left: 28px;
}
.flight .flightRe .no_ticket {
  padding-top: 64px;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: #333;
  display: none;
}
.flight .flightRe .air_list .flg {
  padding: 15px 10px;
  border-bottom: 1px solid #ddd
  /*航班名字*/
  /*航班始发时间*/
  /*航班行驶*/
  /*航班到达*/
  /*餐食*/
  /*分割线*/
  /*准点率*/
  /*最低价格*/
}
.flight .flightRe .air_list .flg .flg_item {
  float: left;
  color: #666;
  line-height: 22px;
}
.flight .flightRe .air_list .flg .flg_name {
  width: 110px;
  *width: 105px;
  padding-left: 5px;
  text-align: left;
  font-size: 12px;
}
.flight .flightRe .air_list .flg .flg_name span {
  white-space: nowrap;
}
.flight .flightRe .air_list .flg .flg_start {
  width: 120px;
  *width: 110px;
  padding-right: 10px;
  text-align: right;
}
.flight .flightRe .air_list .flg .flg_start strong {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
.flight .flightRe .air_list .flg .flg_duration {
  position: relative;
  height: 54px;
  width: 130px;
  *width: 90px;
  padding: 0 20px;
  background: url(../images/line.png) center no-repeat;
}
.flight .flightRe .air_list .flg .flg_duration span {
  position: absolute;
  padding-top: 2px;
  text-align: center;
  width: 100%;
  left: 0;
  color: #999;
}
.flight .flightRe .air_list .flg .flg_duration em {
  position: absolute;
  top: 24px;
  left: 53px;
  padding-top: 7px;
  font-size: 11px;
  color: #23cc77;
  width: 30px;
  height: 27px;
  font-style: normal;
  font-weight: normal;
  background: url(../images/stopping_point.png) 7px 0px no-repeat;
}
.flight .flightRe .air_list .flg .flg_arrival {
  width: 110px;
  *width: 100px;
  padding-left: 10px;
  text-align: left;
}
.flight .flightRe .air_list .flg .flg_arrival strong {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
.flight .flightRe .air_list .flg .flg_arrival strong i {
  font-size: 12px;
  color: #f60;
  font-style: normal;
  margin-left: 5px;
}
.flight .flightRe .air_list .flg .flg_dining {
  margin-top: 4px;
  padding: 9px 0 9px 18px;
  width: 58px;
  line-height: 18px;
}
.flight .flightRe .air_list .flg .list_sep {
  width: 0;
  height: 29px;
  margin-top: 8px;
  border-left: 1px solid #ddd;
}
.flight .flightRe .air_list .flg .flg_rate {
  padding: 0 0 0 5px;
  margin-top: 4px;
  text-align: center;
  width: 46px;
}
.flight .flightRe .air_list .flg .flg_price {
  color: #f60;
  height: 44px;
  line-height: 44px;
  padding-left: 44px;
  text-align: left;
}
.flight .flightRe .air_list .flg .flg_price strong {
  font-size: 24px;
}
/*通讯录页面*/
.phone {
  width: 890px;
  margin: 0 auto
  /*查询框*/
  /*通讯侧栏*/
  /*通讯号码*/
}
.phone .queryNum {
  padding: 10px 30px;
  border: 1px solid #00A0AF;
  margin-bottom: 20px;
}
.phone .queryNum .phone-f-group {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  float: left;
  margin-right: 20px;
}
.phone .queryNum label {
  margin-right: 8px;
}
.phone .queryNum select,
.phone .queryNum input {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  width: 160px;
  border: 1px solid #ddd;
}
.phone .queryNum button {
  width: 120px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background-color: #6BB7F7;
  font-size: 18px;
  cursor: pointer;
}
.phone .psid {
  width: 230px;
  float: left;
  background-color: #ecedf1;
  font-size: 18px;
  color: #1F769B;
}
.phone .psid li {
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
.phone .psid li:hover {
  background-color: #ccc;
}
.phone .psid .active {
  background-color: #ccc;
}
.phone .personCall {
  margin-left: 240px;
  font-size: 0;
  color: #333;
}
.phone .personCall .item {
  border-bottom: 1px solid #6BB7F7;
  padding: 8px 0;
}
.phone .personCall .item span {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  text-align: center;
}
/*页脚*/
.footer {
  margin-top: 30px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background-color: #333;
  color: #b0cedd;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.index-footer {
  background-color: #202020;
  height: 250px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.index-footer .content {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  color: #79818A;
}
.index-footer .content .info {
  position: absolute;
  top: 80px;
  left: 5px;
}
.index-footer .content .info .num {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.index-footer .content .info .address {
  font-size: 18px;
  line-height: 31px;
}
.index-footer .content .copyright {
  font-size: 14px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
}
