
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1486604870225'); /* IE9*/
  src: url('iconfont.eot?t=1486604870225#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1486604870225') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1486604870225') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1486604870225#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-classify:before { content: "\e601"; }

.icon-classify-red:before { content: "\e604"; }

.icon-morenxuanzhong:before { content: "\e64a"; }

.icon-shareyellow:before { content: "\e600"; }

.icon-typecar118:before { content: "\e618"; }

.icon-typecar127:before { content: "\e621"; }

.icon-typecar117:before { content: "\e631"; }

.icon-linecar103:before { content: "\e605"; }

.icon-workflow:before { content: "\e606"; }

.icon-fenxiangsvg:before { content: "\e607"; }

.icon-xuanfufenleisvg:before { content: "\e608"; }

.icon-envira:before { content: "\e60a"; }

.icon-pingfen:before { content: "\e610"; }

.icon-yuan:before { content: "\e60b"; }

.icon-SCMliucheng:before { content: "\e602"; }

.icon-liucheng:before { content: "\e64c"; }

.icon-LogoWhalel:before { content: "\e603"; }

.icon-Share:before { content: "\e60f"; }

.icon-faxian:before { content: "\e609"; }

.icon-ic_brightness__px:before { content: "\ea90"; }

.icon-petadata:before { content: "\e60c"; }

.icon-xingzhuang:before { content: "\e60d"; }

.icon-xingzhuang1:before { content: "\e60e"; }

.icon-xingzhuang2:before { content: "\e611"; }

.icon-xingzhuang3:before { content: "\e612"; }

.icon-xingzhuang4:before { content: "\e613"; }

.icon-list:before { content: "\e614"; }

.icon-xingzhuang5:before { content: "\e615"; }

.icon-archive:before { content: "\e616"; }

.icon-bookmark:before { content: "\e617"; }

.icon-factory:before { content: "\e619"; }

.icon-transportation:before { content: "\e61a"; }

.icon-tools:before { content: "\e61b"; }

.icon-add:before { content: "\e61c"; }

