<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.calendar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/jquery.date_input.pack.js"></script>
    <script src="/javascripts/jquery.pseudo.js"></script>
    <script src="/javascripts/layer/layer.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
　　<div class="version">
        您的浏览器版本过低，部分页面无法正常显示，请联系管理员进行版本升级！
    </div>
　　<![endif]-->
    <div class="all-container">
           <% switch(page){ case 'index' :%>
                <div class="header" style="height:650px;background-image:url(/images/banner.jpg);">
            <%break; case 'train' :%>
               <div class="header" style="background-image:url(/images/train.jpg);">
            <%break; case 'flight' :%>
                <div class="header" style="background-image:url(/images/q3.jpg);">
            <%break; case 'phone' :%>
                <div class="header" style="background-image:url(/images/phone.jpg);">
            <%break;}%>
                    <h2 class="headerH">DETC PORTAL SITE</h2>
                    <div class="navbar clearfix">
                       <ul>
                            <li><a href="/" title="" id="index">首页</a></li>
                            <li><button type="button" id="weabtn">天气预报</button></li>
                            <li><a href="/train" title="" id="train">火车票查询</a></li>
                            <li><a href="/flight" title="" id="flight">飞机票查询</a></li>
                            <li><a href="http://172.29.2.26:8080/cas/logout?service=http://172.29.2.26:8080/cas/login">注销</a></li>
                            <!-- <li><a href="/phone" title="" id="phone">通讯录</a></li> -->
                        </ul> 
                    </div>
                </div>
            <script>
                (function(){
                    var page = "<%=page%>";
                    document.getElementById(page).setAttribute('class', 'active');

                    function getCookie(name){  
                        var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));  
                        if(arr != null){  
                            return unescape(arr[2]);   
                        }else{  
                            return null;  
                        }  
                    }  
                    var uid = getCookie('uid');
                    $('#index').attr('href', '/?uid=' + uid);
                })();
            </script>
            <div class="mid">